main {
  background-image: url("../img/fondo3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .foto-rojas__tamaño {
    width: 250px;
  }
  .fs-2 {
    text-indent: 50px;
    text-align: justify;
  }
}
